@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --background-color: #f1f1f1;
    --hover-color: rgb(102, 40, 245);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

nav {
    background: var(--background-color);
    box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
  }
.Nav {
    font-family: "Poppins", sans-serif;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Make sure the navbar is positioned relatively */
    padding: 0 25px;
    background: var(--background-color);
}

.logo {
    font-family: "Roboto Mono", monospace;
    font-size: 1.4rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_menu ul li {
    list-style-type: none;
}
.main_menu li a:hover{
    color:var(--hover-color)
}

a {
    height: 60px;
    text-decoration: none;
    color: black;
}

.nav_part2 {
    display: flex;
    gap: 30px;
}

.has_dropdown {
    position: relative; /* Ensure the dropdown is positioned relative to its parent */
}
.has_dropdown a{
    padding: 25px 0;
}
.has_dropdown:hover .sub_menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    top:calc(100% + 16px)
}

.sub_menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000; /* Ensure the dropdown is above other elements */
    top: 200%;
    left: 0;
    width: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.sub_menu li {
    padding: 10px 15px;
    white-space: nowrap;
}

.sub_menu li a {
    color: black;
    padding: 5px 0;
}

.sub_menu li:hover {
    color: var(--hover-color);
}

.searchBar {
    display: flex;
    box-sizing: border-box;
    width: 20rem;
}

.searchBar input {
    border-right: none;
    outline: none;
    padding: 5px 10px;
    width: 80%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 0.9rem;
    border-color: rgba(128, 128, 128, 0.559);
    border-width: 0.2px;
}

.searchBar button {
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: rgba(128, 128, 128, 0.559);
    border-width: 0.2px;
    cursor: pointer;
}
